.container-fluid {
  padding: 3% 10%;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.fa-circle-check, .fa-bullseye, .fa-heart{
  color: #ef8172;
  font-size: 3rem;
  padding: 2rem;
}

.fa-circle-check:hover, .fa-bullseye:hover, .fa-heart:hover{
  color: #ff4c68;
}

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-item{ /* class there is nav-item not navbar-item */
  padding: 0 20px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.press-logo{
  margin: 20px 20px 50px;
  width: 15%;
}

.rotate-image {
  width: 60%;
  transform: rotate(25deg);
}

.testimonials-image{
  border-radius: 100%;
  margin: 1.25rem;
  width: 10%;
}

#features{
  padding: 7% 15%;
  text-align: center;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

#title {
  background-color: #ff4c68;
  color: white;
}

body{
  font-family: Montserrat;
}

h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-black', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat-black', sans-serif;
  font-weight: bold;
}

p{
  color: #8f8f8f;
  padding: 0 3rem;
}
